.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    width: 100%;
    height: 100%;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player1:before {
    color: lawngreen;
    content: "X";
}

.player2:before {
    color: red;
    content: "0";
}
